
body{
  background-color: rgba(0, 27, 24, 0.19);
}
header {
	
  margin: 1vh;
	height: 4vh;
}

#nav 

{

  padding-left: 0px;
  padding-right: 0px;


}
header div article {

  padding-left: 0px;
  padding-right: 0px;

  height: 6vh;
  background-color: rgba(253, 253, 255, 0.64);
	
}

header article nav {

  font-size: 19px;
  height: 9vh;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 7px;

  
}
.navBar  {

  margin: 0;
  padding: 3px 15px;

}
header article nav a {

  margin: 1em 1em 1em 1em;


}
section {

  padding: 0;
  margin: 7vh;
  background-color: rgba(253, 253, 255, 0.64);
/*  height: 84vh;
*/  width: auto;

	/*border: solid green 200px ;*/
	/*width: auto;*/


}

section article {

/*  border-right: 3px solid #3799db;
  border-left: 3px solid #3799db;
  background-color:  rgba(55, 153, 219, 0.28);*/
  height: 7em;
  text-align: center;
  text-decoration: none;
  font-size: 2em;


}
section article:hover {

  background: #3cb0fd;

}

footer {

  background-color: #3799db;
  height: 9vh;
  width:100%;

}



.btn {
  
  
  
  text-shadow: 0px 4px 0px #000000;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.5em;
  background: #3799db;
  
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
header div{
  margin: 0px;
  padding: 0px;
}
.container{
  padding-right: 0; 
  padding-left: 0;
}

/*.col-xs-3{
  width: 24%;
}*/


.infoFichier{
  display: none;
}

section article:hover .infoFichier{
    font-size: 14px;
  display:block;
}
.glyphicon-folder-close {

  font-size: 3em;
  display: block;
  padding-top: 20px;
  
}

.glyphicon-file, section a:link, section a:hover, section a:active, section a:visited {

  padding-top: 20px;
  font-size: 3em;
  display: block;
  margin: 0.1em;
  text-decoration: none;

}
.glyphicon-folder-close:hover {

/*  font-size: 7em;
  text-decoration: none;
  text-align:  center;*/
  
}

.glyphicon-file:hover {

/*  font-size: 7em;
  text-decoration: none;
  text-align: center;*/
}
.filename {

  font-size: 16px;
}

header nav a:last-child{
  background-color: #6caed9;
  color: white;
  padding: 0.5em;
}